* {
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
}
.header {
    height: 76px;
}
.header-link {
    font-size: 16px;
    line-height: 20px;
}
.header-link:hover {
    text-decoration: underline;
    color: gray
}
.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
}
.header-paragraph {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}
.link-catalog {
    font-size: 16px;
    line-height: 24px;
}
.subtitle {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
}
.title-product {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
}
.product-description {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}
.price-new {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}
.price-old {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}
.title-footer {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}
.link-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
}
.link-footer:hover {
    color: gray;
}
.form-footer {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}
.form-input-footer {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}
.button-footer {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}